{% load static %}
<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Welcome to the home page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

	</head>
	<body>
		<div class='header'>
			<div class='logo'>
				<a href='/'><img class='logo_img' src="{% static 'home/logo.png' %}" alt="I've misplaced the logo..."></a>
			</div>
			<div class='menu'>
				<div class='menu_item'>
					<a href='/' class='menu_link'>Home</a>
				</div>
				<div class='menu_item'>
					<a href='/accounts/login/' class='menu_link'>Login</a>
				</div>
				<div class='menu_item'>
					<a href='/accounts/login/' class='menu_link'>Sign Up</a>
				</div>
			</div>
		</div>
        <!-- templates/registration/login.html -->
	<div class='body_page login_body'>
		<div id='login_box' class="login content_box">
			<h1 class='login_title'>Log In to Dan's Bagels</h1>
			    <form action='/accounts/login/?next=/home' method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class=' login_button link_button'>Log In</button>
			    </form>
			<p class='create_label'>Don't have an account? <a href="/signup" class='create_link menu_link'>Create one here!</a></p>
		</div>
	</div>
    </body>
</html>
