{% load static %}
<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Welcome to the home page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

	</head>
	<body>
		<div class='header'>
			<div class='logo'>
				<a href='/'><img class='logo_img' src="{% static 'home/logo.png' %}" alt="I've misplaced the logo..."></a>
			</div>
			<div class='menu'>
				<div class='menu_item'>
					<a href='/accounts/login/' class='menu_link'>Login</a>
				</div>
				<div class='menu_item'>
					<a href='/accounts/login/' class='menu_link'>Sign Up</a>
				</div>
			</div>
		</div>
        <!-- templates/registration/login.html -->
	<div class='body_page login_body'>
        <h1>Log In to Dan's Bagels</h1>
        <div class="login content_box">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
            </form>
        </div>
        <p>Don't have an account? <a href="/signup">Create one here!</a></p>
	</div>
    </body>
</html>
