{% load static %}
<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Welcome to the home page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>
	<body>
        <!-- templates/registration/login.html -->
        <div class="signup">
            <h2>Sign up</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>Please select what you are:</p>
                <input type="radio" id="cashier" name="group" value="Cashier">
                <label for="cashier">Cashier</label><br>
                <input type="radio" id="chef" name="group" value="Chef">
                <label for="chef">Chef</label><br>
                <input type="radio" id="customer" name="group" value="Customer">
                <label for="customer">Customer</label><br>
                <input type="radio" id="manager" name="group" value="Manager">
                <label for="manager">Manager</label><br><br>
                <button type="submit">Sign up</button>
            </form>
        </div>
    </body>
</html>