{% load static %}
<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Welcome to the home page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>


	<body>

		<h2>Build Your Bagel!</h2>
			<p class="brown"><a href="checkout">Check Out</a></p>
			{% if food_list %}

			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}

				{% for foodItem in food_list %}
					<input type="checkbox" class="center" value="{{foodItem}}">{{ foodItem.sub_type }} {{foodItem.type}} : ${{foodItem.price}}</input>
					<p></p>
				{% endfor %}
					<p><a href="addToOrder">Add To Order</a></p>
					<input type="submit" value="Add To Order"></input>
			</form>

			{% else %}
				<p> No Items Are Available!</p>
			{% endif %}




	</body>
</html>
