{% load static %}
<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Welcome to the home page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>


	<body>

		<h2>Build Your Bagel!</h2>
		<div>
			<a href='/home' >Return Home</a>
		</div>
			<p class="brown"><a href="checkout">Check Out</a></p>
			{% if food_list %}

			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<div>

				{% for foodItem in food_list %}
					<input type="checkbox" class="center" value={{foodItem.item_id}} name="checked" id={{foodItem}}>{{ foodItem.sub_type }} {{foodItem.type}} : ${{foodItem.price}}</input>
					<p></p>
				{% endfor %}
				<h2>Customize Your Own Bagel Sandwich!</h2>
				{% for item in food_list %}
					{% if item.type == 'Bagel' %}
						<input type="checkbox" class="center" value={{item.item_id}} name="bagelCheck" id={{item}}>{{ item.sub_type }} {{ item.type }} : ${{item.price}}</input>
					{% endif %}
				{% endfor %}
				{% for item in ingredient_list %}
					<input type="checkbox" class="center" value={{item.type}} name="ingrChecked" id={{item}}>{{ item.type }} : ${{item.price}}</input>
					<p></p>
				{% endfor %}


					<input type="submit" value="Add To Order" class="menuItem"></input>
				</div>
			</form>

			{% else %}
				<p> No Items Are Available!</p>
			{% endif %}




	</body>
</html>
