{% load static %}

<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Fill Order page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>


	<body>

		<h2>High Five Bagels</h2>
		{% if user.is_authenticated %}
		<p>Welcome {{ user.username }}, <a href='/accounts/logout/?next=/'>logout</a></p>
		<p>You are current logged in as {{ group }}</p>
		<p>This is the order page</p>
		<p><a href="/">Home Page</a></p>
		{% else %}
		<p>You are not currently logged in, <a href="/accounts/login/">login here.</a>
		{% endif %}

	</body>
</html>
