{% load static %}

<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Welcome to the home page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>


	<body id="homepage">

		<h2>High Five Bagels</h2>
		{% if user.is_authenticated %}
		<p>Welcome {{ user.username }}, <a href='/accounts/logout/?next=/'>logout</a></p>
		<p>You are current logged in as {{ group }}</p>
		{% else %}
		<p>You are not currently logged in, <a href="/accounts/login/">login here.</a>
		{% endif %}
		<p>To place an order, look below</p>
		<ol>
			<li><a href="build">Build Your Bagel!</a></li>
		</ol>




	</body>
</html>
