{% load static %}

<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Welcome to the home page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>


	<body id="homepage">

		<h2>High Five Bagels</h2>
		{% if user.is_authenticated %}
		<p>Welcome {{ user.username }}, <a href='/accounts/logout/?next=/'>logout</a></p>
		<p>You are current logged in as a {{ group }}</p>
		<p>Your current balance is: {{ user.profile.currency }}</p>
		<div>
			<a href="addMoney">Add Money To Your Account</a>
		</div>

		{% for name, href in urls.items %}
		<p><a href="{{ href }}">{{ name }}</a></p>
		{% endfor %}
		<p><a href="accounts/password_reset/">Reset Password</a></p>
		{% else %}
		<p>You are not currently logged in, <a href="/accounts/login/">login here.</a>
		{% endif %}




	</body>
</html>
