{% load static %}

<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Inventory page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>


	<body>

		<h2>High Five Bagels</h2>
		{% if user.is_authenticated %}
		<p>Welcome {{ user.username }}, <a href='/accounts/logout/?next=/'>logout</a></p>
		<p>You are current logged in as {{ group }}</p>
		<p>This is the inventory page</p>
		<div class="row">
			<div class="column">
				<h3>Bagels</h3>
                <table class="center">
                    <thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
                            <th>Add or Remove</th>
						</tr>
					</thead>
                    <tbody>
                        {% for food_item in bagel_list %}
                        <tr>
                            <td class="left">{{ food_item.sub_type }}</td>
                            <td>{{ food_item.inv_count }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="item" value="{{ food_item.sub_type }}" />
                                    <input type="hidden" name="type" value="{{ food_item.type }}" />
                                    <input style="width:40px" type="number" name="amount" value="amount" required="Please add an amount" />
                                    <button type="submit">Submit</button>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			</div>
			<div class="column">
				<h3>Schmears</h3>
                <table class="center">
                    <thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
                            <th>Add or Remove</th>
						</tr>
					</thead>
                    <tbody>
                        {% for food_item in shmear_list %}
                        <tr>
                            <td class="left">{{ food_item.sub_type }}</td>
                            <td>{{ food_item.inv_count }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="item" value="{{ food_item.sub_type }}" />
                                    <input type="hidden" name="type" value="{{ food_item.type }}" />
                                    <input style="width:40px" type="number" name="amount" value="amount" required="Please add an amount" />
                                    <button type="submit">Submit</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			</div>
		</div>
		<div class="row">
			<div class="column">
                <h3>Sandwich Toppings</h3>
                <table class="center">
                    <thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
                            <th>Add or Remove</th>
						</tr>
					</thead>
                    <tbody>
                        {% for ing_item in ing_list %}
                        <tr>
                            <td class="left">{{ ing_item.type }}</td>
                            <td>{{ ing_item.inv_count }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ ing_item.type }}" />
                                    <input style="width:40px" type="number" name="amount" value="amount" required="Please add an amount" />
                                    <button type="submit">Submit</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			</div>
			<div class="column">
				<h3>Beverages</h3>
                <table class="center">
                    <thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
                            <th>Add or Remove</th>
						</tr>
					</thead>
                    <tbody>
                        {% for food_item in drink_list %}
                        <tr>
                            <td class="left">{{ food_item.sub_type }}</td>
                            <td>{{ food_item.inv_count }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="item" value="{{ food_item.sub_type }}" />
                                    <input type="hidden" name="type" value="{{ food_item.type }}" />
                                    <input style="width:40px" type="number" name="amount" value="amount" required="Please add an amount" />
                                    <button type="submit">Submit</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			</div>
		</div>
		<p><a href="/">Home Page</a></p>
		{% else %}
		<p>You are not currently logged in, <a href="/accounts/login/">login here.</a>
		{% endif %}
	</body>
</html>
