{% load static %}

<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Inventory page!</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>


	<body>

		<h2>High Five Bagels</h2>
		{% if user.is_authenticated %}
		<p>Welcome {{ user.username }}, <a href='/accounts/logout/?next=/'>logout</a></p>
		<p>You are current logged in as {{ group }}</p>
		<p>This is the inventory page</p>
		<div class="row">
			<div class="column">
				<h3>Bagels</h3>
				<table class="center">
					<thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Plain</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Onion</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Cinnamon Raisin</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Sesame</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Cheesy</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Pumpernickel</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="column">
				<h3>Schmears</h3>
				<table class="center">
					<thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Plain</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Honey Nut</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Strawberry</td>
							<td>5</td>
						</tr>
						<tr>
							<td>French Onion</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h3>Sandwich Toppings</h3>
				<table class="center">
					<thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Bacon</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Eggs</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Cheese</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Sausage</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Avocado</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="column">
				<h3>Beverages</h3>
				<table class="center">
					<thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Coffee</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Milk</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Orange Juice</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Water Bottles</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<p><a href="/">Home Page</a></p>
		{% else %}
		<p>You are not currently logged in, <a href="/accounts/login/">login here.</a>
		{% endif %}

	</body>
</html>
