{% load static %}
<!DOCTYPE html>

<!-- Changes you make to this file will not be reviewed by the grader -->

<html lang="en">
	<head>
		<title>Log In</title>
		<meta charset="utf-8">
		<link href="{% static 'home/style.css' %}" rel="stylesheet">

	</head>


	<body>
        <h2>Log in to Dan's Bagel Shop</h2>
        <div class="logIn">
            <form action="/action_page.php">
                <label for="fname">Username:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Password:</label>
                <input type="text" id="lname" name="lname"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>