.header {
	display: flex;
	background-color: #14cce3;
	height: 100px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100px;
}

.logo_img{
	height: 100px;
}

.menu{
	display: flex;
	justify-content: flex-end;
	width: 75%;
	height: 100px;
}

.menu_item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 16%;
}

.menu_link{
	font-family: 'Permanent Marker', 'cursive';
	font-size: 25px;
	color: white;
	text-decoration: none;
}

.menu_link:hover{
	color: #ed850e;
}

.body_page{
	background-size: 100% 100%;	
}

body {
	margin: 0;
	padding: 0;
}
