.header {
	display: flex;
	background-color: #14cce3;
	height: 100px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100px;
}

.logo_img{
	height: 100px;
}

.menu{
	display: flex;
	justify-content: flex-end;
	width: 75%;
	height: 100px;
}

.menu_item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 16%;
}

.menu_link{
	font-family: 'Permanent Marker', 'cursive';
	font-size: 25px;
	color: white;
	text-decoration: none;
}

.menu_link:hover{
	color: #ed850e;
}

.body_page{
	padding-top: 5%;
	background: url(bagels.jpg);
	background-size: 100%;
	height: 750px;
}

.title_box{
	border-radius: 50px;
	background-color: white;
	background-color: rgba(0, 0, 0, .5);
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home_title{
	font-family: 'Permanent Marker', 'cursive';
	font-size: 125px;
	color: #14cce3;
}

body {
	margin: 0;
	padding: 0;
}
