.header {
	display: flex;
	background-color: #14cce3;
	height: 100px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100px;
}

.logo_img{
	height: 100px;
}

.menu{
	display: flex;
	justify-content: flex-end;
	width: 75%;
	height: 100px;
}

.menu_item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 16%;
}

.menu_link{
	font-family: 'Permanent Marker', 'cursive';
	font-size: 25px;
	color: white;
	text-decoration: none;
}

.menu_link:hover{
	color: #ed850e;
}

.body_page{
	padding-top: 5%;
	background-size: 100%;
	height: 780px;
}

.home_body{
	background-image: url('bagels.jpg');
}

.login_body{
	background-image: url('dough.jpg');
}

.content_box{
	border-radius: 50px;
	background-color: white;
	background-color: rgba(0, 0, 0, .5);
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home_title{
	font-family: 'Permanent Marker', 'cursive';
	font-size: 125px;
	color: #14cce3;
}

.button_box{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 25%;
	margin-right: 25%;
}

.get_started{
	text-decoration: none;
	background-color: #14cce3;
	border-radius: 25px;
	border: none;
	color: white;
	margin-top: 5%;
	text-align: center;
	font-size: 45px;
	font-family: 'Permanent Marker', 'cursive';
	padding: 2% 5%;
}

.get_started:hover{
	background-color: #ed850e;
	color: #14cce3;
}

body {
	margin: 0;
	padding: 0;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.left {
  text-align: left;
}
table {
    width: 400px;
}
